<!-- Administradores -->
<div class="section-title text-center position-relative mb-5 title">
    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Nuestro equipo</h6>
    <h1 class="display-4">Conoce a nuestro equipo de administradores</h1>
</div>
<div class="card-group format">
    <div class="card format_img">
      <img src="assets/img/romeo.png" class="card-img-top square-img" alt="Romeo">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Romeo</h5>
        <p class="card-subtitle">Experto en Educación</p>
        <p class="card-description">Con más de 10 años de experiencia en el campo de la educación, Romeo está comprometido en brindar una experiencia educativa excepcional para todos nuestros estudiantes.</p>
      </div>
    </div>
    <div class="card format_img">
      <img src="assets/img/fernando.png" class="card-img-top square-img" alt="Fernando">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Fernando</h5>
        <p class="card-subtitle">Experto en Tecnología</p>
        <p class="card-description">Con una amplia experiencia en tecnología educativa, Fernando lidera nuestro equipo de desarrollo para garantizar una plataforma de aprendizaje innovadora y eficaz.</p>
      </div>
    </div>
    <div class="card format_img">
      <img src="assets/img/dario.png" class="card-img-top square-img" alt="Dario">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Dario</h5>
        <p class="card-subtitle">Especialista en Contenidos</p>
        <p class="card-description">Darío se encarga de supervisar la calidad y relevancia de nuestros cursos para asegurar que ofrecemos contenido educativo de alta calidad y pertinente.</p>
      </div>
    </div>
  </div>

  <div class="card-group format">
    <div class="card format_img">
      <img src="assets/img/juan.png" class="card-img-top square-img" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Juan</h5>
        <p class="card-subtitle">Especialista en Soporte</p>
        <p class="card-description">Con su atención al detalle y habilidades técnicas, Juan garantiza que nuestros estudiantes reciban el mejor soporte y asistencia en todas sus consultas.</p>
      </div>
    </div>
    <div class="card format_img">
      <img src="assets/img/eduardo.png" class="card-img-top square-img" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Eduardo</h5>
        <p class="card-subtitle">Especialista en Marketing</p>
        <p class="card-description">Eduardo lidera nuestras estrategias de marketing para garantizar que nuestros cursos lleguen a la mayor cantidad de personas posible, brindándoles la oportunidad de mejorar sus habilidades y conocimientos</p>
      </div>
    </div>
    <div class="card format_img">
      <img src="assets/img/valeria.png" class="card-img-top square-img" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Valeria</h5>
        <p class="card-subtitle">Especialista en Comunidad</p>
        <p class="card-description">Valeria se encarga de cultivar una comunidad de aprendizaje inclusiva y colaborativa, donde los estudiantes puedan compartir conocimientos y experiencias para un aprendizaje enriquecedor.</p>
      </div>
    </div>
  </div>
<!-- FIN Administradores -->
