 <!-- Sobre nosotros -->
 <div class="container-fluid py-5" id="sobre-nosotros">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="assets/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Sobre nosotros</h6>
                    <h1 class="display-4">EDUCANDO</h1>
                </div>
                <p>Bienvenido a Educando, tu plataforma integral de aprendizaje. En Educando, nos dedicamos a proporcionar una experiencia educativa única y enriquecedora para estudiantes de todas las edades y niveles. Nuestro equipo de expertos instructores está comprometido con tu éxito, ofreciendo cursos de alta calidad diseñados para inspirar, motivar y desafiar tu mente. Únete a nosotros en este emocionante viaje de descubrimiento y crecimiento personal.</p>

                <div class="row pt-3 mx-0">
                    <div class="col-3 px-0">
                        <div class="bg-success text-center p-4" style="width: 200px;"
                            (mouseenter)="onMouseEnter($event)"
                            (mouseleave)="onMouseLeave($event)">
                            <h1 class="text-white" data-toggle="counter-up">123</h1>
                            <h6 class="text-uppercase text-white">Rutas de<span class="d-block">Aprendizaje</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-primary text-center p-4" style="width: 200px;"
                            (mouseenter)="onMouseEnter($event)"
                            (mouseleave)="onMouseLeave($event)">
                            <h1 class="text-white" data-toggle="counter-up">1234</h1>
                            <h6 class="text-uppercase text-white">Cursos<span class="d-block">Onlines</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-secondary text-center p-4" style="width: 200px;"
                            (mouseenter)="onMouseEnter($event)"
                            (mouseleave)="onMouseLeave($event)">
                            <h1 class="text-white" data-toggle="counter-up">123</h1>
                            <h6 class="text-uppercase text-white text-center">Instructores<span class="d-block text-center">Expertos</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0"> 
                        <div class="bg-warning text-center p-4" style="width: 200px;"
                            (mouseenter)="onMouseEnter($event)"
                            (mouseleave)="onMouseLeave($event)">
                            <h1 class="text-white" data-toggle="counter-up">1234</h1>
                            <h6 class="text-uppercase text-white">Estudiantes<span class="d-block">Felices</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sobre nosotros fin-->

<!-- Destacados -->
<div class="container-fluid bg-image" style="margin: 90px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 my-5 pt-5 pb-lg-5" style="padding: 60px;">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">¿Por qué elegir Educando?</h6>
                    <h1 class="display-4">Descubre las razones para empezar a tomar nuestros cursos</h1>
                </div>
                <p class="mb-4 pb-2">En Educando, nos esforzamos por ofrecerte una experiencia educativa excepcional. Aquí te mostramos algunas razones por las cuales nuestros cursos son la elección perfecta:</p>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-primary mr-4">
                        <i class="fa fa-2x fa-graduation-cap text-white"></i>
                    </div>
                    <div class="mt-n1">
                      <h4>Profesionales seleccionados cuidadosamente</h4>
                      <p>Nuestros instructores son expertos en sus campos y son cuidadosamente seleccionados por su experiencia y conocimientos.</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-secondary mr-4">
                        <i class="fa fa-2x fa-certificate text-white"></i>
                    </div>
                    <div class="mt-n1">
                      <h4>Obtén certificación reconocida</h4>
                      <p>Al completar con éxito nuestros cursos, recibirás una certificación reconocida que valida tus habilidades y conocimientos.</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="btn-icon bg-warning mr-4">
                        <i class="fa fa-2x fa-book text-white"></i>
                    </div>
                    <div class="mt-n1">
                      <h4>Acceso a recursos exclusivos</h4>
                      <p>Además del contenido del curso, tendrás acceso a recursos adicionales y actualizados para mejorar tu aprendizaje.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px; padding: 20px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="assets/img/feature.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Destacados Fin -->
